<% @articles.each do |a| %>
  <div class="article row">
    <div class="small-4 small-offset-4 columns">
      <h1><%= a.title %></h1>
      <br>
      <p><%= a.body %></p>
    </div>
  </div>
<% end %>
