<% content_for :title do %>
  STDOUT
<% end %>

<!-- posts -->
<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h3>Blog Post Title <small>11/10/2016</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Lorem ipsum dolor sit amet</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: Blaine Pace</a></li>
      </ul>
    </div>
  </div>
  <!-- more posts here -->

</div>
<!-- end posts -->
